/************************************************
General Settings
************************************************/

/* Browser Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root{
    --main-bg: #1C2833;
    --header-bg: #09141C;
    --card-bg: #131E29;
}

/* Font Style */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

/* Text Style */
.album-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.band-name {
    font-size: 0.75rem;
    font-weight: lighter;
}

.album-year {
    font-size: 1rem;
    font-weight: bolder;
}

/************************************************
Body
************************************************/

/***********************
Header
***********************/
header {
    height: 100px;
    width: 100%;
    background-color: var(--header-bg);
}

nav {
    width: 90vw;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 80%;
}

/***********************
Main
***********************/
main {
    height: 100%;
    background-color: var(--main-bg);
}

.container {
    width: 80vw;
    margin: auto;
    padding: 4rem 0 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(33% - 3rem);
    align-items:center;
    justify-content: space-evenly;
    padding-inline: 1rem;
    background-color: var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
}

.artwork {
    height: 60%;
    object-fit: contain;
}