/************************************************
General Settings
************************************************/

/* Browser Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root{
    --main-bg: #1C2833;
    --header-bg: #09141C;
    --card-bg: #131E29;
    --modal-bg: #131e29d2;
}

/* Font Style */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Text Style */
.album-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.band-name {
    font-size: 0.75rem;
    font-weight: lighter;
}

.album-year {
    font-size: 1rem;
    font-weight: bolder;
}

span {
    color: white;
}

/* Buttons */

button {
    border: none;
    cursor: pointer;
}

/* Flex rules */

.f-col {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(33% - 3rem);
    align-items:center;
    justify-content: space-evenly;
}

/************************************************
Body
************************************************/

/***********************
Header
***********************/
header {
    height: 10vh;
    width: 100%;
    background-color: var(--header-bg);
}

nav {
    width: 85vw;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 80%;
}

/***********************
Main
***********************/
main {
    height: 90vh;
    overflow-y: scroll;
    background-color: var(--main-bg);
}

.container {
    width: 70vw;
    margin: auto;
    padding: 2rem 0 2rem;
}

/*********
Cards
*********/

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    height: 400px;
    padding-inline: 1rem;
    background-color: var(--card-bg);
    border-radius: 10px;
}

.card .artwork {
    height: 60%;
    object-fit: contain;
}

/*********
Modal
*********/

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: var(--modal-bg);
}

.active {
    display: block;
}

.highlighted {
    height: 60vh;
}
.highlighted .artwork {
    height: 60%;
}


